
.footer{
    margin-top:60px;
    padding:30px 10%;
    text-align:center;

    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);

    border-top:1px solid rgba(255,255,255,0.1);
}

.footer-content{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:center;
}

/* text */

.footer-text{
    font-size:14px;
    color:rgba(255,255,255,0.7);
}

/* navigation */

.footer-links{
    display:flex;
    gap:25px;
}

.footer-links a{
    text-decoration:none;
    color:white;
    font-size:14px;
    transition:0.3s;
}

.footer-links a:hover{
    color:#00f7ff;
}

/* social icons */

.footer-social{
    display:flex;
    gap:20px;
}

.footer-social a{
    font-size:20px;
    color:white;
    transition:0.3s;
}

.footer-social a:hover{
    color:#00f7ff;
    transform:translateY(-3px);
}
