
/* CONTACT FORM */

#contact{
    text-align:center;
}

.contact-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.contact-container form{
    width:100%;
    max-width:700px;

    display:flex;
    flex-direction:column;
    gap:15px;

    background:var(--card-bg);
    padding:30px;
    border-radius:12px;

    backdrop-filter:blur(10px);
    border:1px solid var(--border);
}

.contact-container input,
.contact-container textarea{
    padding:12px 15px;
    border-radius:8px;
    border:1px solid rgba(255,255,255,0.15);
    background:rgba(255,255,255,0.05);
    color:white;
    width: 70%;
    font-size:15px;
    outline:none;
}

.contact-container input::placeholder,
.contact-container textarea::placeholder{
    color:rgba(255,255,255,0.6);
}

.contact-container textarea{
    min-height:120px;
    resize:none;
}

.contact-container button{
    padding:15px;
    border:none;
    border-radius:8px;

    background:linear-gradient(45deg,#00c6ff,#0072ff);

    color:white;
    font-size:18px;
    font-weight: bold;
    cursor:pointer;

    transition:0.3s;
}

.contact-container button:hover{
    transform:translateY(-2px);
    box-shadow:0 0 15px rgba(0,114,255,0.6);
}
