html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(-45deg, #0f2027, #1a1a2e, #16213e, #000000);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* NAVBAR */
nav {
    position: fixed;
    background:linear-gradient(to bottom right, #193947, #1c3951, #16213e, #0f3648);
    height: 60px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #00f7ff;
    padding-left: 20px;
}

.options {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding-right: 20px;
}

.options a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.options a:hover,
.options a.active {
    color: #00f7ff;
}

section {
    min-height: 100vh;
    padding: 120px 50px 50px;
}

/* HOME */
#home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
}

.home-img {
    width: 250px;
    border-radius: 10px;
}

span {
    color: #00f7ff;
}

/* ABOUT */
#about {
}

/* PORTFOLIO */
#portfolio {
}

.skills {
    margin: 10px 0;
}

/* CONTACT */
#contact {
}

.contact-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #00f7ff;
    font-weight: bold;
}

.social-media {
    margin-top: 20px;
}
.social-media a {
    color: white;
    transition: 0.3s;}

.icon {
    margin-right: 15px;
    font-size: 20px;
}

.icon:hover {
    color: #00f7ff;
}

section h2 {
    position: sticky;
    top: 70px;
    background: inherit;
    padding: 15px 0;
    border-bottom: 1px solid #333;
}