
/* HOME SECTION */

#home{
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:40px;
}

/* PROFILE IMAGE */

.home-img{
    width:260px;
    border-radius:50%;
    overflow:hidden;
    border:3px solid #00f7ff;

    box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px rgba(0,247,255,0.6);

    transition:0.4s;
}

.home-img img{
    width:100%;
    display:block;
}

.home-img:hover{
    transform:scale(1.05);
}

.general{
    max-width:600px;
    line-height:1.8;
}

.general h2{
    font-size:2rem;
}

.general h4{
    font-size:1.4rem;
}

.general p{
    line-height:30px;
}